<!DOCTYPE html>
<html>
    <style>
        body{
            background-color:#C4A484;
        }
        .bars{
            display: block;
            margin-bottom: 10px;
            margin-right: 400px;
            font-size: 20px;
        }
        .heading{
            color:darkblue;
        }
    </style>
    <body>
        <h1 align="center" class="heading">Homepage</h1>
        <ol>
            <li><a href="{% url 'schedule_interview' %}"><span
                        class="bars">Schedule
                        an interview</h1></a></li>
            <li><a href="{% url 'interviews' %}"><span
                        class="bars">List of
                        interviews
                        scheduled</h1></a></li>
            <li><a href="{% url 'edit' %}"><span class="bars">Edit
                        interviews</h1></a></li>
        </ol>
    </body>
</html>